body {
  background-color: #eceff0;
  color: #2c3e50;
  margin: 0;
  padding: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* override rancher style */
header nav.navbar .nav > li:first-of-type > a {
  padding-left: 10px;
  padding-right: 20px;
}

header nav.navbar .project-btn {
  height: auto !important;
}

.clearfix.well.r-p0.r-m0:hover {
  background-color: #99a3a8 !important;
}

.clearfix.well.r-p0.r-m0:hover .stack-link {
  color: white !important;
}

.card.well {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border: 2px solid transparent !important;
  transition: ease all 0.25s;
}

.card.well:hover,
.card.well:focus,
.card.well:active {
  border: 2px solid #3498db !important;
}
